<h1 class="title">Cars</h1>
<div class='cars_container'>
  <% @cars.each do |car| %>
    <div class="car_container"> 
      <h4><%= link_to car.name, car %></h4>
      <div class="car_image_container"><%= image_tag car.car_image %></div>
      <div class="car_information">
        <p><%= car.description %></p>
        <h4 class="user_information">
          <div class="profile_image_container">
            <%= image_tag car.user.profile_image %>
          </div>
          <%= car.user.username %>
        </h4>
      </div>
      <!--<div class="car_operation">
        <span><%= link_to 'Show', car %></span>
        <span><%= link_to 'Edit', edit_car_path(car) %></span>
        <span><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>-->
    </div>  
  <% end %>
</div>


