<h1 class="text-center py-4">Cars</h1>
<div class='container'>
<div class=row>
<div class="col-md-3">
<div class='container'>
  <%= search_form_for @q do |f| %>
  <%= f.search_field :name_cont, placeholder: "name" %>
  <%= f.search_field :year_eq, placeholder: "year" %>
  <%= f.search_field :power_eq, placeholder: "power" %>
  <%= f.search_field :engine_cont, placeholder: "engine" %>
  <%= f.select :transmition_eq, Car.transmitions, include_blank: true %>

  <%= f.submit %>
  <% end %>
</div>
</div>
<div class="col-md-9">
<section class="resume-section" id="projects">
  <div class="resume-section-content">
    <div class="album">
      <div class="container">
        <div class="row">
          <% @cars.each do |car| %>
            <div class="col-md-3">
              <h4 class="text-center"><%= link_to car.name, car, class: "text-danger text-capitalize" %></h4>
              <div class="card mb-4 shadow-sm">
                <% if car.car_image.attached? %>
                  <%= image_tag car.car_image, class: "card-img-top" %>
                <% else %>
                  <%= image_pack_tag 'no_image.png',  class: "card-img-top"%>
                <% end %>
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class='col-4'>
                      <% if car.user.profile_image.attached? %>
                          <%= image_tag car.user.profile_image, class: "img-fluid" %>
                      <% else %>
                          no image
                      <% end %>
                    </div>
                    <div class='col-8'>
                      <%= car.user.firstname %>
                    </div>
                  </div>
                  <div>
                    <div> year : <%= car.year %></div>
                    <div>engine : <%= car.engine %></div>
                    <div>power : <%= car.power %></div>
                    <div>transmition : <%= car.transmition %></div>
                  </div>
                  <% if current_user != car.user %>
                  <div>
                    communs friends are : 
                    <% cummon_friend(car.user).each do |cum_friend| %>
                      <span class="badge badge-primary"><%= cum_friend.email.split('@')[0] %></span>
                    <% end %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</div>
</div>