<h1 class="title">Cars</h1>

<%= search_form_for @q do |f| %>
  <%= f.search_field :name_cont, placeholder: "name" %>
  <%= f.search_field :year_eq, placeholder: "year" %>
  <%= f.search_field :power_eq, placeholder: "power" %>
  <%= f.search_field :engine_cont, placeholder: "engine" %>
  <%= f.select :transmition_eq, Car.transmitions, include_blank: true %>

  <%= f.submit %>
<% end %>


<div class='cars_container'>
  <% @cars.each do |car| %>
    <div class="car_container"> 
      <h4><%= link_to car.name, car %></h4>
      <div class="car_image_container"><%= image_tag car.car_image %></div>
      <div class="car_information">
        <p><%= car.description %></p>
        <h4 class="user_information">
          <div class="profile_image_container">
            <%= image_tag car.user.profile_image %>
          </div>
          <span>username : <%= car.user.username %></span>
          <span> year : <%= car.year %></span>
          <span>engine : <%= car.engine %></span>
          <span>power : <%= car.power %></span>
          <span>transmition : <%= car.transmition %></span>
        </h4>
        <% if current_user != car.user %>
          <%= link_to 'send invitation', send_request_friend_path(user_id: car.user.id)%>
        <% end %>
      </div>
      <!--<div class="car_operation">
        <span><%= link_to 'Show', car %></span>
        <span><%= link_to 'Edit', edit_car_path(car) %></span>
        <span><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>-->
    </div>  
  <% end %>
</div>


