<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @car.engine %>
</p>

<p>
  <strong>Power:</strong>
  <%= @car.power %>
</p>

<p>
  <strong>Price per day:</strong>
  <%= @car.price_per_day %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @car.seat %>
</p>

<p>
  <strong>Transmition:</strong>
  <%= @car.transmition %>
</p>

<p>
  <strong>Millage:</strong>
  <%= @car.millage %>
</p>

<p> 
  <% if @car.car_image.attached? %>
    <%= image_tag @car.car_image %>
  <% else %>
    <%= image_pack_tag 'no_image.png'%>
  <% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @car.user.email %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
