

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @car.engine %>
</p>

<p>
  <strong>Power:</strong>
  <%= @car.power %>
</p>

<p>
  <strong>Price per day:</strong>
  <%= @car.price_per_day %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @car.seat %>
</p>

<p>
  <strong>Millage:</strong>
  <%= @car.millage %>
</p>

<p> 
  <%= image_tag(@car.car_image)  %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
